@model IEnumerable<Message>

@{
    ViewData["Title"] = "Index";
}

<style>
    .scrollable-container {
        max-height: 320px; /* İçeriğin maksimum yüksekliği */
        overflow-y: auto; /* Yalnızca dikey kaydırma çubuğu göster */
    }
</style>

<div class="text-center">
    <h1 class="display-4"><img width="220px" height="60px" src="~/css/logo_main.png"/></h1>
    <div class="contianer">
        <div class="row">
            <div>
                <ul class="list-group scrollable-container" id="messages">
                    @foreach (var obj in Model)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-9 ">
                                    @obj.UserName : @obj.Content
                                </div>
                                <div class="col-3">
                                    @obj.MessageSentTime
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div>
                <input class="d-none" id="UserName" value="@ViewData["UserName"]" />
                <div class="input-group">
                    <input type="text" class="form-control" id="message" onkeydown="sendMessageOnEnter(event)" placeholder="Mesaj Giriniz..." />
                    <button id="btnSendMessage" class="btn btn-primary" style="border-radius: 5px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                             <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                        </svg> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        async function start() {

            try {
                await connection.start();
                console.log("SignalR Bağlandı.");
            }
            catch (err) {
                console.error(err);
                setTimeout(start, 5000);
            }
        }
        connection.onclose(async () => {
            await start();
        });

        start();

        function sendMessage() {
            try {
                var kullaniciAdi = $('#UserName').val();
                var message = $('#message').val();
                connection.invoke("SendMessage", kullaniciAdi, message);

            } catch (err) {
                console.error(err);
            }
        }

        $('#btnSendMessage').click(sendMessage);

        function scrollToBottom() { //scroll ekranını otomatik aşağıya kaydırır
            var messageContainer = document.getElementById("messages");
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }

        window.onload = function () { //scroll ekranını otomatik olarak aşağıdan başlatır
            var messagesContainer = document.getElementById('messages');
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        };

        function clearMessageInput() { //mesaj kutusunu temizler
            var messageInput = document.getElementById("message");
            messageInput.value = "";
        }

        function sendMessageOnEnter(event) {
            if (event.keyCode == 13) { // Enter tuşunun keyCode'u 13'tür
                event.preventDefault(); // Sayfanın yenilenmesini engellemek için varsayılan davranışı engelle

                sendMessage();// Mesajı gönder
            }
        }

        $().ready(function () {
            connection.on("ReceiveMessage", (user, message, time) => {
                $('#messages').append(
                    `<li class="list-group-item">
                                  <div class="row">
                                      <div class="col-9 ">
                                            ${user} : ${message}
                                      </div>
                                       <div class="col-3">
                                            ${time}</
                                       </div>
                                  </div>
                            </li>`
                )
                scrollToBottom();
                clearMessageInput();
            })
        })
    </script>
}