@using VGChat.Areas.Identity.Data;
@model IEnumerable<VGChatUser>
@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <h1 class="display-4">Index</h1>
    <p>Hoş Geldin @ViewData["UserName"]</p>
</div>

<div class="row border border-secondary border-2 rounded m-0 p-0 scrollspy-example" data-bs-spy="scroll">

    <div class="col-12 m-0 p-0">
        <ul class="list-group m-0" id="messages">
            @foreach (var obj in Model)
            {
                if(obj.Id.ToString() != ViewData["UserID"].ToString())//ToString gerekli cunku sistem ikisini farklı degerler olarak algiliyordu.
                {//Mevcut oturumun sahibinin id'si ile eslesiyorsa anasayfaya bastirma. Kullanici kendine mesaj atamasin.
                  <li class="list-group-item  d-flex justify-content-between">
                    <h style="font-size: 20px;">@obj.FirstName @obj.LastName || @obj.UserName </h>
                    <a class="btn btn-primary" asp-controller="Message" asp-action="Index" asp-route-currentUserID=@ViewData["UserID"].ToString() asp-route-targetUserID=@obj.Id.ToString()>Mesaj Gönder</a>
                    </li>
                }
            }
        </ul>
    </div>

</div>
